.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-image: url(../../shared/images/background.jpg);

  min-height: 800px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
