.taskWrap {
  width: 400px;
  height: 120px;

  padding: 15px 8px;
  border-radius: 11px;

  background-color: var(--in-progress-color);
}

.done {
  background-color: var(--accent-color);
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  height: 100%;

  padding: 15px 20px;

  border-radius: 10px;

  background-color: var(--primary-bg-color);
}

.inputBtnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text {
  text-align: center;

  color: var(--primary-text-color);
  font-size: 16px;

  width: 100%;

  transition: var(--transition-dur-and-func);

  /* word-wrap: break-word; */
  white-space: pre-wrap;
}

.checkedText {
  text-decoration: line-through;

  transition: var(--transition-dur-and-func);
}

.btn {
  font-size: 16px;
}

.btn:hover {
  background-color: var(--warning-color);
  border-color: var(--warning-color);
}
