.button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}