.navbarWrap {
  position: relative;
  background-color: #f6fbf9;
  padding: 15px 0px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.menu {
  font-size: 20px;
  color: #2a303c;
  font-weight: 600;

  transition: var(--transition-dur-and-func);
}

.logoIcon {
  position: absolute;
  top: 50%;
  left: 15px;

  transform: translate(0%, -50%);
  color: #2a303c;

  cursor: pointer;

  transition: var(--transition-dur-and-func);
}

.logoIcon:hover,
.logoIcon:focus-visible {
  color: var(--accent-color);

  transition: var(--transition-dur-and-func);
}

:global(.active) {
  color: var(--accent-color);

  transition: var(--transition-dur-and-func);
}
