.menu {
  font-size: 20px;
  color: #2a303c;
  font-weight: 600;

  transition: var(--transition-dur-and-func);
}

.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}
